/* @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  background: #e5e5e5;
  font-family: 'Geologica', sans-serif;
}

main{
  max-width: 800px;
  width: 98%;
  margin: auto;
  padding: 40px;
}

.formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (min-width: 800px){
      grid-template-columns: 1fr;
  };
}

button{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
  }
  
  button:hover{
      box-shadow: 3px 0px 30px rgba(163,163,163, 1);
  }

  .mensajeExito{
    font-size: 14px;
    color: #1ed12d;
    display: none;
    }

    .mensajeError{
      height: 45px;
      line-height: 45px;
      background: #F66060;
      padding: 0px 15px;
      border-radius: 3px;
      grid-column: span 2;
      }
      
      .mensajeError, p{
          margin: 0;
      } */

.container{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}