@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  background: #e5e5e5;
  font-family: 'Geologica', sans-serif;
}

main{
  max-width: 800px;
  width: 98%;
  margin: auto;
  padding: 40px;
}